---
import InstagramIcon from "./icons/InstagramIcon.astro"
import TiktokIcon from "./icons/TiktokIcon.astro"
import FacebookIcon from "./icons/FacebookIcon.astro"
import LinkedInIcon from "./icons/LinkedInIcon.astro"
---

<nav class="redes-links-wrapper">
  <a href="https://www.instagram.com/trainzonebollullos/?hl=es" class="button">
    <InstagramIcon />
  </a>
  <a
    href="https://www.tiktok.com/@trainzonebollullos?_t=8feWRDYTXcH&_r=1"
    class="button"
  >
    <TiktokIcon />
  </a>
  <a
    href="https://www.facebook.com/people/TrainZone/61551472025400/"
    class="button"
  >
    <FacebookIcon />
  </a>
  <a href="https://www.linkedin.com/company/trainzonebollullos/" class="button">
    <LinkedInIcon />
  </a>
</nav>
<style>
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    padding: 0.75rem 1rem;
    background-color: #595959;
    border-radius: 32px;
    height: 3rem;
    box-sizing: border-box;
    color: white;
  }
  a:hover {
    background-color: #4f4f4f;
  }
  img {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
</style>
