<section>
  <div class="div-container">
    <article>
      <img class="img-javi-marisa" alt="" src="/javier.avif" />

      <div class="div-info-javi">
        <h2>Javier Garrote</h2>
        <p>
          CEO y fundador de TRAINZONE, Graduado en Ciencias de la Actividad
          Física y del Deporte y Entrenador de Pádel Nivel I.
        </p>
        <p>
          Después de muchos años vinculado al mundo del entrenamiento,he
          comprobado que el paradigma de la salud y el rendimiento deportivo ha
          cambiado. Las personas demandan un servicio cada vez más atento, más
          profesional, que sepa empatizar con sus problemas, con sus rutinas y
          con sus objetivos. Si eres de ese perfil que está cansado de gimnasios
          convencionales, de probar rutinas de internet sin supervisión
          profesional, de querer empezar y no saber por dónde, o incluso estar
          estancado y no saber cómo seguir progresando.
        </p>
        <p>
          Sea cual sea tu caso, calma, vamos a ponerle solución y vamos a
          trabajar en base tus metas. ¿Eres deportista de élite? Contacta con
          nosotros para llevar tu rendimiento al siguiente nivel.
        </p>
      </div>
    </article>
    <article>
      <img class="img-dani" alt="" src="/daniel.avif" />

      <div class="div-info">
        <h2>Daniel Gallego Nieto</h2>
        <p>
          Graduado en Ciencias de la Actividad Física y del Deporte y Máster en
          Rendimiento Deportivo. Técnico Deportivo de Fútbol Nivel 2. Técnico
          Deportivo de Fútbol Sala Nivel 2.
        </p>
        <p>Especialidades:</p>
        <p>- Entrenamiento de fuerza.</p>
        <p>- Preparación física en deportes de equipo.</p>
        <p>- Readaptación de lesiones.</p>
        <p>
          ¿Necesitas guía o motivación para hacer ejercicio físico? ¿Eres
          deportista y quieres buscar un plus en tu rendimiento? ¿Estás
          lesionad@ y buscas volver a tu deporte con garantías y en las mejores
          condiciones? Estás en el sitio ideal, ¡vente y prueba con nosotros!
        </p>
      </div>
      <img class="img-dani-2" alt="" src="/daniel.avif" />
    </article>

    <article>
      <img class="img-javi-marisa" alt="" src="/marisa.avif" />

      <div class="div-info">
        <h2>María Luisa Pérez</h2>
        <p>
          Dietista-nutricionista, experta en trastornos de la conducta
          alimentaria y obesidad. Colegiada AND-01388. En un mundo de dietas
          restrictivas, aburridas y poco atractivas, te ayudo a alcanzar tus
          objetivos desde el equilibrio y la flexibilidad. Considero que la
          educación nutricional es la pieza clave para adquirir hábitos de salud
          a largo plazo y conseguir el cambio que estabas buscando. Abordaré tu
          caso de forma personalizada y te acompañaré durante esta nueva etapa
          ¿Comenzamos? ¿En qué te puedo ayudar?
        </p>
        <p>- Tratamiento de TCA (anorexia, bulimia, trastorno por atracón).</p>
        <p>- Alimentación infantil.</p>
        <p>- Mejorar tu relación con la comida.</p>
        <p>
          - Tratamiento de patologías digestivas (SIBO, celiaquía,
          intolerancias…).
        </p>
        <p>
          - Prevención y tratamiento de otras patologías (hipertensión,
          colesterol, diabetes…).
        </p>
        <p>- Mejora de la composición corporal.</p>
      </div>
    </article>
    <article>
      <img class="img-dani" alt="" src="/pili.avif" />

      <div class="div-info">
        <h2>Pilar Hidalgo</h2>
        <p>
          Graduada en fisioterapia. Experta en Terapia Manual y suelo pélvico.
          Fundadora de Equilibria.
        </p>
        <p>
          Si te sientes limitado en tu día a día por el dolor, tienes lesiones
          recurrentes o quieres darle un plus a tu calidad de vida, desde la
          fisioterapia puedo ayudarte a abordar estas disfunciones de manera
          individualizada, poniéndole solución desde el origen.
        </p>
        <p>Especialidades:</p>
        <p>- Fisioterapia músculo esquelética.</p>
        <p>- Dolor y disfunciones de suelo pelvico.</p>
        <p>- Pilates terapéutico.</p>
        <p>- Cólico del lactante.</p>
        <p>No lo dejes pasar, ¡ponte en contacto con nosotros!</p>
      </div>
      <img class="img-dani-2" alt="" src="/pili.avif" />
    </article>
  </div>
</section>

<style>
  section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: #f0f2f1;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
  }
  .div-container {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
    box-sizing: border-box;
    gap: 2rem;
    max-width: 71.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  article {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    font-size: 1.5rem;
    color: white;
  }
  .img-javi-marisa {
    position: relative;
    border-radius: 16px;
    width: 28.13rem;
    height: 35.63rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .img-dani {
    position: relative;
    border-radius: 16px;
    width: 28.13rem;
    height: 35.63rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    display: none;
  }
  .img-dani-2 {
    border-radius: 16px;
    position: relative;
    width: 28.13rem;
    height: 35.63rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .img-javi-marisa {
    position: relative;
    border-radius: 16px;
    width: 28.13rem;
    height: 35.63rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  h2 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 3rem;
    font-weight: 700;
    font-family: inherit;
  }
  p {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #efefef;
  }
  .div-info-javi {
    flex: 1;
    border-radius: 16px;
    background-color: #256caa;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    min-width: 22.81rem;
    min-height: 35.63rem;
  }
  .div-info {
    border-radius: 16px;
    flex: 1;
    background-color: var(--accent-teal-light);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    min-width: 22.81rem;
    min-height: 35.63rem;
  }

  @media screen and (max-width: 960px) {
    article {
      flex-direction: column;
      align-items: stretch;
    }
    .img-javi-marisa {
      flex: 1;
      width: 100%;
      min-width: 12.5rem;
    }
    .img-dani {
      flex: 1;
      min-width: 12.5rem;
      width: 100%;
      display: flex;
    }
    .img-dani-2 {
      display: none;
      flex: 1;
      width: 100%;
      min-width: 12.5rem;
    }
  }
  @media screen and (max-width: 420px) {
    .img-javi-marisa {
      flex: 1;
    }
    .img-dani {
      display: flex;
      flex: 1;
    }
    .img-dani-2 {
      display: none;
      flex: 1;
    }
    .div-info-javi {
      flex: 1;
      height: auto;
      min-width: 18rem;
    }
    .div-info {
      height: auto;
      min-width: 18rem;
    }
  }
</style>
