---
import ArrowUpRight from "./icons/ArrowUpRight.astro"
interface Props {
  name: string
  role: string
  imgSrc: string
}
const { name, role, imgSrc } = Astro.props
---

<article id="articleTrabajador">
  <img alt="" src={imgSrc} />

  <div>
    <header>
      <h3>{name}</h3>
      <ArrowUpRight />
    </header>
    <p>{role}</p>
  </div>
</article>
<style>
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22.38rem;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
  }
  img {
    position: relative;
    border-radius: 16px;
    width: 14.31rem;
    height: 18.25rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    border-radius: 16px;
    background-color: var(--accent-teal-light);
    align-items: flex-end;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 1;
    margin-top: -2rem;
    transition: background-color 0.2s ease;
  }
  div:hover {
    background-color: var(--accent-teal);
  }
  header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: white;
  }
  h3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: 1.13rem;
    line-height: 2rem;
    font-weight: 700;
  }
  p {
    align-self: stretch;
    margin: 0;
    position: relative;
    line-height: 1.5rem;
    color: #efefef;
  }
  @media screen and (max-width: 420px) {
    article {
      flex: 1;
      min-width: 15.63rem;
    }
  }
</style>
